[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	exclusiveGroupPermissions = forgeAuthor forgeCommitter forgeServerAsCommitter
	abandon = group Z00 dev
	create = group Z00 dev
	forgeAuthor = group Z00 dev
	forgeCommitter = group Z00 dev
	forgeServerAsCommitter = group Z00 dev
	push = +force group Z00 dev
	pushMerge = group Z00 dev
	label-Code-Review = -2..+2 group Z00 dev
	label-Verified = -1..+1 group Z00 dev
	rebase = group Z00 dev
	submit = group Z00 dev
	editTopicName = group Z00 dev
